$mainColor: #1d1d1d;

.icon {
    max-width: 30px;
    max-height: 30px;

    position: relative;
}

nav {
    font-family: 'Nunito', sans-serif;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;

    ul:last-child {
        margin-left: auto;
    }
}

ul {
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background: none;

    list-style-type: none;

    li {
        color: #333;
        padding: 15px;
        font-weight: bolder;

        &.disabled a {
            cursor: not-allowed;
            opacity: 0.2;
        }

        &.left {
            margin-right: auto;
        }

        a {
            text-decoration: none;
            color: #333;
            transition: all 200ms ease-in-out;

            &:hover {
                color: #111;
                text-decoration: none;
            }

            &:visited {
                color: inherit;
            }

            &.button {
                padding: 5px 10px;
                border-radius: 5px;
                background: #111;
                color: white;
                font-size: 1em;
                font-weight: bold;
                position: relative;

                &:hover {
                    color: white;
                    background: #333;

                    .pop {
                        color: #333;
                    }
                }

                .pop {
                    position: absolute;
                    top: -7px;
                    right: -7px;
                    transform: scale(0);
                    animation: zoomUP .15s ease-in-out forwards;
                    animation-delay: .5s;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    margin: 0;
                    font-size: 12px;
                    text-align: center;
                    color: #111;
                    background: #00ffaf;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 0 5px -1px #00ffaf;

                    &.mid {
                        padding: 11px;
                    }
                }
            }
        }
    }
}


@keyframes zoomUP {
    100% {
        transform: scale(.9);
    }
}
