@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


@keyframes caretAnimation {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

.caret {
	animation: caretAnimation 400ms ease-in-out infinite alternate;
}

html,
body {
  @apply bg-base text-metal;
}

*::selection { 
  background: rgba( 197, 143, 255, .5 );
  @apply text-base;
}
